//**************************** Start Banner Content******************************
.banner-content {
    padding: 0;
    background-color: #0F3764;
    .banner-inner-content {
        position: relative;
        &::after{
            content: "";
            background-image: url(../../images/wave-inner.svg)!important;
            position: absolute;
            left: 106px;
            top: 275px;
            height: 400px;
            width: 989px;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;           
           
            @include bp(lg-max){
                width: 754px;
                left: 0;
                display: none;
            }          
        }
        &.show-wave{
            &::after{
                opacity: 1;
                transition: .6s all linear;
            }
        }
    }

    &.home-banner {
        // overflow: hidden;
        .banner-inner-content {
        background-image: url('../../images/BG.jpg') !important;
        overflow: hidden;
        .align-items-center{
            @include bp(md-max){
                justify-content: center;
            }
        }
        .img-content{            
            text-align: right;
            position: relative;
            z-index: 1;
            // &::after{
            //     content: "";
            //     height: 142px;
            //     width: 193px;
            //     background-image: url(../../images/banner-dot.svg)!important;
            //     background-size: 100% 100%;
            //     position: absolute;
            //     z-index: -1;
            //     right: 0;
            //     bottom: -28px;
            // }
            // &::before{
            //     content: '';
            //     height: 142px;
            //     width: 193px;
            //     background-image: url('../../images/banner-dots2.svg') !important;
            //     background-size: 100% 100%;
            //     position: absolute;
            //     z-index: -1;
            //     top: 35px;
            //     left: 25px
            // }
            img{
                object-fit: cover;
                width: 450px !important;
                height: 450px !important;
                border-radius: 50%;
                @include bp(lg-max){
                    width: 320px !important;
                    height: 320px !important;
                }
               
            }
            video{
                height: 470px;
                object-fit: cover;
                border: 15px solid #fff;
                border-radius: 15px;
                position: relative;
                right: -94px;
                top:40px;
            }
        }
        }
        .owl-dots{
            text-align: center;
            position: relative;
            top: -40px;
            .owl-dot{
                width: 10px;
                height: 10px;
                background-color: #fff6;
                border-radius: 50%;
                margin: 0 5px;
                &.active{
                    background-color: #fff;
                }
            }
        }
        .banner-slider{
            @include bp(sm-max){
                overflow: hidden;
            }
            &::after{
                content: "";
                background-image: url(../../images/wave-bg.png)!important;
                position: absolute;
                left: 220px;
                top: 0px;
                height: 2000px;
                width: 989px;
                background-size: contain;
                background-repeat: no-repeat;
                z-index:-2;
                @include bp(lg-max){
                    height: 1680px;
                    width: 927px;
                    max-width: 100%;
                    left: 10px;
                }
               
             }           
                .banner-inner-content{
                    &::after{
                        display: none;
                }                
            } 
            .text-content {
                position: relative;
                @include bp(md-max){
                    text-align: center;
                }
               
            }

            }
        
    }
    .banner-inner-content {
        background-size: cover;
        background-position: center center;
        position: relative;
        min-height: 80vh;       
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        align-items: center;       
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 1;
        position: relative;   
        @include bp(md-max){
            min-height: auto;       
           }  
        @include bp(sm-max){
         padding-top: 60px;       
        }  
       
    }
    &.inner-page-banner {
        .banner-inner-content {
            height: 70vh;
            min-height: 300px;
            // background-color: #969;
            background-blend-mode: multiply;
            h1{
                text-align: center;
            }
        }
      
    }
    &.half-banner{
        .banner-inner-content {
            height: 50vh;
            &:after{
                display: none;
            }
        }
    }
    .text-content {
        position: relative;
        @include bp(md-max){
            text-align: center;
        }
        h1 {
            color: #fff;
            align-items: center;
            font-size: 38px;
            line-height: 42px;
            @include bp(md-max){
                font-size: 36px;
                line-height: 42px;
            }
            @include bp(md-max){
                font-size: 24px;
                line-height: 36px;
            }
        }
        .btn{
            @include bp(xs-max){
            width: 100%;
            margin: 5px 0px;
            }
        }
    }
    .btn-primary {
        background-color: #fff;
        border-color: #fff;
        color: #0c3761;
        &:hover {
            border-color: #fff;
            color: #fff;
        }
    }
    .overlay.blue {
        background-color: rgba(6, 30, 54, 0.747);
    }
    .down-arrow {
        position: absolute;
        right: 49%;
        bottom: -30px;
    }
    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
            &:nth-child(2) {
                animation-delay: -0.2s;
            }
            &:nth-child(2) {
                animation-delay: -0.4s;
            }
        }
    }
    h1 {
        margin-bottom: 40px;
        @include bp(sm-max){
            margin-bottom: 20px;
        }
    }
    h3 {
        margin-bottom: 40px;
        font-weight: normal;
    }
    @include bp(lg-max) {
        background-position: 0px -50px;
    }
}

.post-type-archive-webinars,
.half-banner {
    position: relative;
    overflow: hidden;
    // &::after{
    //     content: "";
    //     height: 142px;
    //     width: 193px;
    //     background-image: url(../../images/banner-dot.svg)!important;
    //     background-size: 100% 100%;
    //     position: absolute;
    //     z-index: 2;
    //     right: -75px;
    //     bottom: -28px;
    // }
    // &::before{
    //     content: "";
    //     height: 123px;
    //     width: 150px;
    //     background-image: url(../../images/banner-dots2.svg)!important;
    //     background-size: 100% 100%;
    //     position: absolute;
    //     z-index: 2;
    //     top: 82px;
    //     left: -25px;
    // }
    .banner-inner-content {
        height: 70vh;
        min-height: 300px;
        // border-bottom-left-radius:100px ;
        // @include bp(md-max){
        //     border-bottom-left-radius:30px ;
        // }
    }
    .text-content {
        padding-left: 0;
        text-align: center;
        h1{
            text-align: center;
        }
    }
}
.half-banner {
    .col-lg-7 {
        width: 100% !important;
        justify-content: center;
    }
    .align-items-center {
        justify-content: center;
    }
}

.post-type-archive-webinars,
.banner-content.inner-page-banner {
    .slide-content-main {
        justify-content: center;
    }
}
.post-type-archive-webinars {
    .banner-content {
        h1 {
            color: #fff;
            align-items: center;
        }
    }
}
.overlay-banner{
    .banner-inner-content{
        background-color: #969;
        background-blend-mode: multiply;
        .banner-caption{
            text-align: center;
        }
    }
}
// ********************** End Banner Content ***************************************